@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  background-color: #2d1b47;
}

h1,
h2 {
  font-family: "Creepster", sans-serif;
  background: linear-gradient(to right, #732eb8, #f06e42);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}

p {
  color: #beb4a7;
}

.hero {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero h1 {
  font-size: 9rem;
}
.hero .subtitle {
  font-size: 4rem;
  color: #f06e42;
}
.hero p {
  font-size: 2.5rem;
}

.hero .hero-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.hero .hero-btns a {
  background-color: #fd4619;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1.5rem;
}
.hero .hero-btns a:hover {
  background-color: #f06e42;
}
.hero .hero-btns a img {
  width: 34px;
  margin: 0 6px -8px 0;
}

main .details {
  text-align: center;
  padding: 60px;
}
main .details h2 {
  padding: 30px 0;
}

main .details-cards {
  display: flex;
  justify-content: space-around;
}
main .details-cards .card {
  margin-top: 60px;
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #fd4619;
  background-color: #402659;
}
main .details-cards .card:hover .highlight {
  color: #f06e42;
}
main .details-cards .card img {
  width: 100px;
  margin-bottom: 20px;
}
main .details-cards .card p {
  font-size: 1rem;
}
main .details-cards .card .title {
  text-transform: uppercase;
}
main .details-cards .card .highlight {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.75rem;
  margin-block: 10px;
}
main .details-cards .card .lastimg {
  width: 80px;
}

main .costumes {
  text-align: center;
  padding: 60px;
}
main .costumes .costumes-p {
  font-size: 1.5rem;
  width: 700px;
  margin: 40px auto;
}

main .costumes-cards {
  display: flex;
  justify-content: space-evenly;
}
main .costumes-cards .costumes-cards_card {
  width: 220px;
  background-color: #1a0f2e;
  border-radius: 12px;
  padding: 40px 20px;
}
main .costumes-cards .costumes-cards_card img {
  width: 110px;
  height: 150px;
}
main .costumes-cards .costumes-cards_card h3 {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 20px 0;
}
main .costumes-cards .costumes-cards_card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

main .costumes .costumes-competition {
  width: 95%;
  background-color: #211e1c;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
}
main .costumes .costumes-competition .costumes-competition_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .costumes .costumes-competition .costumes-competition_title img {
  width: 24px;
}
main .costumes .costumes-competition .costumes-competition_title h4 {
  font-size: 2rem;
  color: #fd4619;
}
main .costumes .costumes-competition p {
  font-size: 1.25rem;
}
main .costumes .costumes-competition button {
  background-color: #fd4619;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
main .costumes .costumes-competition button:hover {
  background-color: #f06e42;
}
main .costumes .costumes-competition button img {
  width: 40px;
}

main .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 100px;
}
main .form p {
  font-size: 1.5rem;
}
main .form form {
  background-color: #402659;
  width: 40vw;
  border-radius: 12px;
  border: 1px solid #fd4619;
  padding: 40px;
}
main .form form div {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
main .form form div label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
main .form form div img {
  width: 30px;
  height: 30px;
}
main .form form div input,
main .form form div select,
main .form form div textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 12px;
  border: 2px solid #fd4619;
  background-color: #2d1b47;
  color: #ffffff;
  font-size: 1.2rem;
}
main .form form textarea {
  height: 130px;
}

footer {
  height: 100px;
  background-color: #1a0f2e;
  text-align: center;
  padding: 30px;
}
footer p {
  font-size: 1.2rem;
}
footer p span {
  color: #f06e42;
}
footer img {
  width: 20px;
}/*# sourceMappingURL=style.css.map */