@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

$purple: #8400ff;
$purple100: #442164;
$orange: #ff7e33;
$orange100: #b14101;
$orangeshadow: #b142018a;
$white: #ffffff;
$gray100: #beb4a7;
$darkness: #181616;
$darkness100: #211e1c;
$black: #000000;
$purple200: #1a0f2e;
$purple300: #2d1b47;

body {
  min-height: 100vh;
  background-color: $purple100;
}

h1,
h2 {
  font-family: 'Creepster', sans-serif;
  background: linear-gradient(45deg, $orange100, $purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  animation: gentleFloat 4s ease-in-out infinite;
  @media (max-width: 440px) {
    font-size: 3rem;
  }
}
p {
  color: $gray100;
}
//"cabeçalho"
.hero {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: inherit;
    background: linear-gradient(to top, $black, transparent);
    text-align: center;
    position: absolute;
    opacity: 80%;
  }
  h1 {
    font-size: 9rem;
  }
  .subtitle {
    font-size: 4rem;
    font-weight: 700;
    color: $white;
    text-shadow:/* Brilho interno */ 0 0 5px $orange100,
      /* Brilho médio */ 0 0 10px $orange100,
      /* Brilho externo*/ 0 0 20px $orange,
      /* Brilho externo mais suave */ 0 0 30px $orange;
  }
  p {
    font-size: 2rem;
  }
  @media (max-width: 440px) {
    .subtitle {
      font-size: 3rem;
    }
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.7rem;
      text-align: center;
    }
  }
}
.hero .hero-btns {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;

  a {
    background-color: $orange100;
    color: $white;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.5rem;
    z-index: 1;
    border: 1px solid $orange100;

    &:hover {
      box-shadow: 0 4px 10px $orange;
      border: 1px solid $orange;
      background-color: transparent;
    }
    img {
      width: 34px;
      margin: 0 6px -8px 0;
    }
  }
  @media (max-width: 440px) {
    flex-direction: column;
  }
}
//corpo do site
//detalhes do evento
main .details {
  text-align: center;
  padding: 100px;
  margin-bottom: 100px;
  background-image: linear-gradient(to bottom, $black, $purple100);

  h2 {
    padding: 30px 0;
    animation: gentleFloat 5s ease-in-out infinite;
  }
  @media (max-width: 440px) {
    padding: 20px;
  }
}
main .details-cards {
  display: flex;
  justify-content: space-around;
  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 60px;
    width: 320px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid $orange100;
    background-color: $purple100;

    &:hover {
      box-shadow: 0 0 10px $orange100;
      background-color: $purple300;
      img {
        transform: rotate(10deg);
      }
      .highlight {
        color: $orange;
      }
    }
    img {
      width: 100px;
      margin-bottom: 20px;
      transition: transform 0.3s ease-in-out;
    }
    p {
      font-size: 1rem;
    }
    .title {
      text-transform: uppercase;
    }
    .highlight {
      font-weight: 700;
      color: $white;
      font-size: 1.75rem;
      margin-block: 10px;
    }
    .lastimg {
      width: 80px;
    }
  }
}

// fantasias
main .costumes {
  text-align: center;
  padding: 60px;

  .costumes-p {
    font-size: 1.5rem;
    width: 700px;
    margin: 40px auto;
  }
  @media (max-width: 440px) {
    padding: 20px;

    .costumes-p {
      width: 300px;
    }
  }
}

main .costumes-cards {
  display: flex;
  justify-content: space-evenly;

  .costumes-cards_card {
    width: 220px;
    border-radius: 12px;
    padding: 40px 20px;
    background: radial-gradient(circle, $orangeshadow 0%, $purple300 70%);
    box-shadow: 0 5px 20px $orangeshadow;

    &:hover {
      img {
        animation: balancar 0.5s ease-in-out infinite;
      }
    }

    img {
      width: 110px;
      height: 150px;
    }
    h3 {
      font-size: 1.25rem;
      color: $white;
      margin: 20px 0;
    }
    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 440px) {
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .costumes-cards_card {
      width: 200px;
      padding: 10px;
    }
    h3 {
      margin: 10px 0;
    }
    img {
      animation: balancar 2s ease-in-out infinite;
    }
  }
}
main .costumes .costumes-competition {
  width: 95%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
  border-radius: 12px;
  background: linear-gradient(120deg, $purple100, $purple200, $purple100);
  box-shadow: 0 0 15px $orangeshadow;

  //  O tamanho do fundo é MUITO maior que o elemento (3x maior).

  background-size: 300% 300%;
  //     Nome: gradient-animation
  //     Duração: 10s (ajuste como preferir)
  //     Timing: ease (suave)
  //     Loop: infinite (para sempre)
  animation: gradient-animation 10s ease infinite;

  .costumes-competition_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 24px;
      animation: pulse 5s ease-in-out infinite;
    }
    h4 {
      font-size: 2rem;
      color: $orange100;
    }
  }
  p {
    font-size: 1.25rem;
  }
  button {
    background-color: $orange100;
    border: 1px solid $orange100;

    border-radius: 50px;
    padding: 10px 30px;
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 10px $orange;
      border: 1px solid $orange;
      background-color: transparent;
    }
    img {
      width: 40px;
    }
  }
}

// formulário
main .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 100px;
  background-image: linear-gradient(to top, $purple200, $purple100);
  p {
    font-size: 1.5rem;
  }

  @media (max-width: 440px) {
    p {
      padding: 20px;
      text-align: center;
    }
  }
}
main form {
  display: flex;
  flex-direction: column;
  background-color: $purple100;
  width: 40vw;
  border-radius: 12px;
  border: 1px solid $orange100;
  padding: 40px;
  gap: 30px;
  div {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    img {
      width: 30px;
      height: 30px;
      animation: balancar 0.5s ease-in-out infinite;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 15px;
      outline: none;
      border-radius: 12px;
      border: 1px solid $orange100;
      background-color: $purple300;
      color: $white;
      font-size: 1.2rem;

      &:hover {
        box-shadow: 0 4px 10px $orange;
        border: 1px solid $orange;
        background-color: $purple300;
      }
    }
  }
  textarea {
    height: 130px;
  }
  input {
    background-color: $orange100;
    border: 1px solid $orange100;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.25rem;
    color: $white;
    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 10px $orange;
      border: 1px solid $orange;
      background-color: $purple300;
    }
  }
  span {
    color: $gray100;
    font-size: 1rem;
    text-align: center;

    a {
      color: $orange;

      &:hover {
        text-shadow: 0 4px 30px $orange;
      }
    }
  }
  @media (max-width: 440px) {
    width: 90%;
    padding: 40px 20px;
  }
}

//rodapé
footer {
  height: 140px;
  background-color: $purple200;
  text-align: center;
  padding: 20px;

  p {
    font-size: 1.2rem;

    span {
      color: $orange;
    }
  }

  img {
    margin-top: 20px;
    width: 40px;
    animation: gentleFloat 4s ease-in-out infinite;
  }
  @media (max-width: 440px) {
    p {
      display: flex;
      flex-direction: column;
      padding: 0 40px;
    }
  }
}

//animações

// Animação de flutuação suave
@keyframes gentleFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
//Animação de pulsar
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
//animação de balançar
@keyframes balancar {
  0% {
    transform: rotate(0deg); /* Começa normal */
  }
  50% {
    transform: rotate(10deg); /* Gira para o lado na metade do tempo */
  }
  100% {
    transform: rotate(0deg); /* Volta ao normal no final */
  }
}
//animação de gradiente
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
