@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
$purple: #732eb8;
$purple100: #402659;
$orange: #f06e42;
$orange100: #fd4619;
$white: #ffffff;
$gray100: #beb4a7;
$darkness: #181616;
$darkness100: #211e1c;
$black: #000000;
$purple200: #1a0f2e;
$purple300: #2d1b47;

body {
  width: 100vw;
  background-color: $purple300;
  //border: 2px solid rgba(255, 107, 53, 0.25);
}
h1,
h2 {
  font-family: 'Creepster', sans-serif;
  background: linear-gradient(to right, $purple, $orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}
p {
  color: $gray100;
}
.hero {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 9rem;
  }
  .subtitle {
    font-size: 4rem;
    color: $orange;
  }
  p {
    font-size: 2.5rem;
  }
}
.hero .hero-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;

  a {
    background-color: $orange100;
    color: $white;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.5rem;

    &:hover {
      background-color: $orange;
    }
    img {
      width: 34px;
      margin: 0 6px -8px 0;
    }
  }
}
main .details {
  text-align: center;
  padding: 60px;

  h2 {
    padding: 30px 0;
  }
}
main .details-cards {
  display: flex;
  justify-content: space-around;
  .card {
    margin-top: 60px;
    width: 320px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid $orange100;
    background-color: $purple100;

    &:hover {
      .highlight {
        color: $orange;
      }
    }
    img {
      width: 100px;
      margin-bottom: 20px;
    }
    p {
      font-size: 1rem;
    }
    .title {
      text-transform: uppercase;
    }
    .highlight {
      font-weight: 700;
      color: $white;
      font-size: 1.75rem;
      margin-block: 10px;
    }
    .lastimg {
      width: 80px;
    }
  }
}
main .costumes {
  text-align: center;
  padding: 60px;

  .costumes-p {
    font-size: 1.5rem;
    width: 700px;
    margin: 40px auto;
  }
}

main .costumes-cards {
  display: flex;
  justify-content: space-evenly;

  .costumes-cards_card {
    width: 220px;
    background-color: #1a0f2e;
    border-radius: 12px;
    padding: 40px 20px;

    img {
      width: 110px;
      height: 150px;
    }
    h3 {
      font-size: 1.25rem;
      color: $white;
      margin: 20px 0;
    }
    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
}
main .costumes .costumes-competition {
  width: 95%;
  background-color: #211e1c;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
  .costumes-competition_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 24px;
    }
    h4 {
      font-size: 2rem;
      color: $orange100;
    }
  }
  p {
    font-size: 1.25rem;
  }
  button {
    background-color: $orange100;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background-color: $orange;
    }
    img {
      width: 40px;
    }
  }
}
